/*------------------------------------*\
  #NAV
\*------------------------------------*/
.voting-nav {
  position: relative;
  display: flex;

  a {
    font-weight: $font-light;
    padding: 20px;
    text-decoration: none;
    color: $white;

    &:hover {
      transition: all ease-in-out 0.5s;
      background-color: rgba($black, 0.3);
    }
  }

  @at-root #{&}--alternative {
    a {
      color: $mine-shaft;
      font-size: 0.750rem;
    }
  }
}