/*------------------------------------*\
  #COLORS
\*------------------------------------*/

$my-sin: #ffad1d;
$jave: #1cbbb4;
$mine-shaft: #333333;
$white: #ffffff;
$black: #000000;
$dove-gray: #707070;
$tundora: #464646;
$dusty-gray: #979797;
$gallery: #ebebeb;