@import '../../styles/colors';
@import '../../styles/variables';

/*------------------------------------*\
  #CARD
\*------------------------------------*/
.voting-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 492px;
  height: 548px;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background-image: linear-gradient(180deg, rgba($black, 0) 0%, rgba($black, 0.9) 100%);
    z-index: 1;
  }

  @at-root #{&}__bgr-image {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  @at-root #{&}__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    z-index: 1;
  }

  @at-root #{&}__content {
    $c: &;
    position: relative;
    margin-top: auto;
    padding: 30px 40px;
    color: $white;

    @at-root #{$c}--featured {
      padding: 45px 30px 35px 30px;
      margin: 0;
    }
  }

  @at-root #{&}__content-button {
    &.voting-button {
      position: absolute;
      padding: 8px;
      bottom: 166px;
      left: 0;
    }
  }

  @at-root #{&}__name {
    $n: &;
    color: inherit;
    font-size: 2.812rem;
    margin: 0 0 2px 0;

    @at-root #{$n}--featured {
      font-size: 3.75rem;
      margin: 0 0 30px 0;
    }
  }

  @at-root #{&}__subtitle {
    color: inherit;
    font-size: 1.25rem;
    font-weight: $font-bold;
    margin: 0;
  }

  @at-root #{&}__subheading {
    color: inherit;
    font-size: 1rem;
    margin: 0;
  }

  @at-root #{&}__time {
    color: inherit;
    font-size: 0.75rem;
    margin: 0 0 10px 0;
  }

  @at-root #{&}__description {
    $d: &;
    color: inherit;
    font-weight: $font-light;
    margin: 0 0 25px 0;

    @at-root #{$d}--featured {
      font-size: 1.312rem;
      margin: 0 0 30px 0;
    }

    @at-root #{$d}--thanks {
      margin: 0 0 43px 0;
    }
  }

  @at-root #{&}__more-info {
    display: inline-flex;
    align-items: center;
    color: inherit;
    font-size: 0.875rem;
    font-weight: $font-light;
    margin: 0 0 45px 0;
  }

  @at-root #{&}__more-info-icon {
    display: inline-flex;
    margin-right: 5px;

    svg {
      fill: $white;
      width: 15px;
      height: 15px;
    }
  }

  @at-root #{&}__more-info-link {
    color: inherit;
    font-weight: inherit;
  }

  @at-root #{&}__actions {
    $a: &;
    display: flex;
    align-items: center;

    @at-root #{&}--featured {
      height: 80px;
    }
  }

  @at-root #{&}__action-button {
    $ab: &;

    &:not(:last-of-type) {
      margin-right: 10px;
    }

    @at-root #{$ab}--featured {
      justify-content: center;
      height: 100%;
      width: 50%;

      &.voting-button {
        svg {
          width: 37px;
          height: 37px;
        }
      }


      &:not(:last-of-type) {
        margin-right: 0;
      }
    }
  }

  @at-root #{&}--featured {
    height: 450px;
    height: auto;
    overflow: hidden;

    &::before {
      height: 100%;
      background-image: none;
      background-color: rgba($black, 0.451);
    }
  }

  @at-root #{&}--featured-bgr-image {
    filter: blur(30px);
    width: 260%;
    height: 154%;
    left: -26%;
    top: -14%;
  }
}





/*------------------------------------*\
  #MEDIA QUERIES
\*------------------------------------*/
@media screen and (max-width: 398px) {
  .voting-card {
    @at-root #{&}__name {
      $n: &;
      font-size: 2rem;

      @at-root #{$n}--featured {
        font-size: 2.8rem;
      }
    }

    @at-root #{&}__content-button {
      &.voting-button {
        bottom: 181px;
      }
    }

    @at-root #{&}__description {
      $d: &;

      @at-root #{$d}--thanks {
        margin: 0 0 61px 0;
      }
    }
  }
}