@import '../../styles/colors';
@import '../../styles/variables';

/*------------------------------------*\
  #VOTE PROGRESS
\*------------------------------------*/
.voting-vote-progress {
  position: relative;
  display: flex;
  width: 100%;
  height: 48px;

  @at-root #{&}__up-wrapper {
    display: flex;
    align-items: center;
    background-color: rgba($jave, 0.702);
    height: 100%;
    padding: 5px 10px;
    transition: width ease-in-out 0.5s;
  }

  @at-root #{&}__up-wrapper-icon {
    margin-right: 10px;
  }

  @at-root #{&}__down-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba($my-sin, 0.702);
    height: 100%;
    padding: 5px 10px;
    transition: width ease-in-out 0.5s;
  }

  @at-root #{&}__down-wrapper-icon {
    margin-left: 10px;
  }

  @at-root #{&}__icon {
    width: 28px;
    height: 28px;
    fill: $white;
  }

  @at-root #{&}__percentage {
    color: $white;
    font-size: 1.250rem;
  }
}