@import '../../styles/colors';
@import '../../styles/variables';

/*------------------------------------*\
  #NAV BAR
\*------------------------------------*/
.voting-nav-bar {
  position: relative;

  @at-root #{&}__button {
    position: absolute;
    flex-direction: column;
    align-items: center;
    width: 50px;
    height: 52px;
    top: 0;
    bottom: 0;
    right: -10px;
    margin: auto;
    z-index: 1;

    &.voting-button {
      display: none;
      padding: 0;
    }

    div {
      background-color: $white;
      height: 2px;
      width: 25px;
      position: relative;
      top: 20px;
      transition: all .4s ease-in-out;

      &:nth-child(2) {
        top: 24px;
      }

      &:nth-child(3) {
        top: 28px;
      }
    }
  }

  @at-root #{&}__nav {}
}





/*------------------------------------*\
  #MEDIA QUERIES
\*------------------------------------*/
@media screen and (max-width: 767px) {
  .voting-nav-bar {
    $vn: &;

    @at-root #{&}__button {
      $b: &;

      &.voting-button {
        display: inline-flex;
      }

      @at-root #{$b}--opened {
        &.voting-button {
          position: fixed;
          top: 31px;
          right: 10px;
          bottom: initial;

          div {
            &:nth-child(1) {
              transform: rotate(40deg);
              top: 25px;
            }

            &:nth-child(2) {
              opacity: 0;
            }

            &:nth-child(3) {
              transform: rotate(-40deg);
              top: 21px;
            }
          }
        }
      }
    }

    @at-root #{&}__nav {
      $n: &;

      &.voting-nav {
        position: fixed;
        flex-direction: column;
        left: 100%;
        width: 100%;
        visibility: hidden;
        min-height: 100%;
        background: $my-sin;
        overflow-y: auto;
        top: 0;
        padding-top: 90px;
        box-shadow: 0 10px 7px rgba($black, .14);
        transition: all ease-in-out 0.5s;

        a {
          font-size: 1.5rem;
        }
      }

      @at-root #{$n}--opened {
        &.voting-nav {
          left: 0;
          visibility: visible;
        }
      }
    }
  }
}